<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarAndroidActivity"
        tools:targetApi="31">
        <activity
            android:name=".DashboardStore"
            android:exported="false" />
        <activity
            android:name=".LatihanLogin"
            android:exported="false" />
        <activity
            android:name=".LatihanSplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginWatchActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SoccerActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".BelajarConstraintActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SplashScreenDoaAct"
            android:exported="true" />
        <activity
            android:name=".LatihanVisibility"
            android:exported="true" />
        <activity
            android:name=".DoaHarianAct"
            android:exported="true" />
        <activity
            android:name=".BelajarNgajiActivity"
            android:exported="true" />
        <activity
            android:name=".LatihanListActivity"
            android:exported="true" />
        <activity
            android:name=".ListNamaActivity"
            android:exported="true" />
        <activity
            android:name=".BelajarScrollViewActivity"
            android:exported="false" />
        <activity
            android:name=".BelajarCardActivity"
            android:exported="false" />
        <activity
            android:name=".BelajarRelativeActivity"
            android:exported="false" />
        <activity
            android:name=".TravelActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".OpenCamera"
            android:exported="false" />
        <activity
            android:name=".CalculatorAct"
            android:exported="false" />
        <activity
            android:name=".CountActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HomeAct"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>